/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  position: relative;
  background-position: top;
  background-size: cover;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485d0),
    url(../img/hero.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.logo {
  height: 35px;
}
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* animation */
  animation: moveInLeft 1s ease-in;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-in;
  margin-bottom: 64px;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn:link,
.btn:visited {
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.3s;
  position: relative;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-white::after {
  background-color: #fff;
}
.btn-animition {
  animation: moveInBottom 0.5s ease-in 0.75s;
  animation-fill-mode: backwards;
}
